body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

a {
  color: rgb(147, 123, 123);
  text-decoration: none;
}

header {
  background-color: #000073;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#video-section {
  position: relative;
}

.video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #0c0404;
  text-align: center;
}

video {
  width: 100%;
  display: block;
    max-height: 650px; 
    display: block;
}

#image-section {
  text-align: center;
  padding: 20px;
}

.image {
  display: inline-block;
  margin: 0 10px;
}

h3 {
  margin-top: 10px;
}

#key-features,
#project-showcase,
#cta {
  text-align: center;
  padding: 40px 20px;
}

footer {
  background-color: #2c2a58; 
  color: #fff;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-section {
  flex: 1;
  margin: 10px;
}